<nav>
    <div class="site-title">
    
        <a href="/"><h1> mascuud site</h1></a>
        <p> A mascuud web with node js</p>
    </div>
    <ul>
        <li><a href="/">Blog mascuud </a></li>
        <li><a href="/about">About </a></li>
        <li><a href="/blogs/create">new blog </a></li>
      </ul>

    
</nav>